.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.switch .toggle {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  /* flex-shrink: 0; */
  width: 42px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}


.switch .toggle input[type="radio"] {
  display: none;
}

.switch .toggle .toggle-btn {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
  margin-left: 3px;
}

.switch .toggle .toggle-btn.dark-mode {
  right: 0;
  margin-right: 3px;
}

.switch .moon {
  margin-left: 8px;
}
