<div class="search" [ngClass]="{ error: errorMessage }">
  <input
    type="text"
    [(ngModel)]="word"
    (input)="onInput()"
    placeholder="Type word here"
    class="search-input"
  />
  <button class="search-button" (click)="onSearch()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 18 18"
    >
      <path
        fill="none"
        stroke="#A445ED"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="m12.663 12.663 3.887 3.887M1 7.664a6.665 6.665 0 1 0 13.33 0 6.665 6.665 0 0 0-13.33 0Z"
      />
    </svg>
  </button>
</div>
@if (errorMessage) {
<p class="error-message">{{ errorMessage }}</p>
} @if (noDefinitionsFound) {
<div class="no-definitions">
  <p class="emoji">😕</p>
  <p class="title">No Definitions Found</p>
  <p>
    Sorry pal, we couldn't find definitions for the word you were looking for.
    You can try the search again at a later time or head to the web instead.
  </p>
</div>
}
